---
import { ContactForm } from "../../components";
import BaseLayout from "../../layouts/BaseLayout.astro";

const errors = { fullName: "", email: "", phoneNumber: "", message: "" };

const validateField = (value, label, name) => {
  if (name === "message") return;
  if (value.length < 1) {
    errors[name] = `Ingrese ${label}`;
  }
};

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();

    const formData = [
      {
        value: data.get("fullName"),
        label: "Nombre y Apellidos",
        name: "fullName",
      },
      {
        value: data.get("email"),
        label: "Correo",
        name: "email",
      },
      {
        value: data.get("phoneNumber"),
        label: "Teléfono",
        name: "phoneNumber",
      },
      {
        value: data.get("message"),
        label: "Mensaje",
        name: "message",
      },
    ];

    formData.map((field) => {
      validateField(field.value, field.label, field.name);
    });

    const hasErrors = Object.values(errors).some((msg) => msg);

    if (hasErrors) {
      throw new Error(JSON.stringify(errors));
    }

    const mapContact = (formData) => ({
      contact: {
        fullName: formData?.[0].value || "",
        email: formData?.[1].value || "",
        phone: {
          countryCode: "+51",
          number: formData?.[2].value || "",
        },
        message: formData?.[3].value || "",
        hostname: "venta-llantas.com",
      },
    });

    await fetch("https://api-servitecsales.web.app/emails/contact", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify(mapContact(formData)),
    });

    return Astro.redirect("/success");
  } catch (error) {
    if (error instanceof Error) {
      console.error("Error:", error.message);
    }
  }
}
---

<BaseLayout>
  <main>
    <div class="error-message-wrapper" id="error-message-wrapper"></div>
    <section>
      <span>Contacto</span>
      <ContactForm errors={errors} />
    </section>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    padding: 7em 2em 2em 2em;
    @media (max-width: 576px) {
      padding: 3em 1.5em;
    }
    .error-message-wrapper {
      width: 60%;
      margin: auto;
      @media (max-width: 970px) {
        width: 100%;
      }
    }

    section {
      background-image: url("/images/form-backgrouns.webp");
      padding: 1em 1.5em 3em 1.5em;
      max-width: 550px;
      width: 100%;
      margin: auto;
      text-align: center;
      border-radius: 1em;

      span {
        display: inline-block;
        padding: 0.3em;
        font-size: 2.2em;
        font-weight: 600;
      }
    }
  }
</style>
