---
import { BaseLayout } from "../layouts";
import {
  CarouselProducts,
  Banner,
  Testimonials,
  MapLocation,
  SectionWrapper,
  Title,
  Button,
} from "../components";
---

<BaseLayout title="Hankook Alvillantas">
  <main>
    <div class="banner-wrapper">
      <img src="/public/initial-banner.webp" alt="banner hankook alvillantas" />
      <div class="wrapper-content">
        <Title title="Tenemos las mejores" withMargin={false}>
          llantas para tu vehiculo
        </Title>
        <div class="quote-wrapper">
          <a href="/contact">
            <Button type="tertiary">Cotizar llanta</Button>
          </a>
        </div>
      </div>
    </div>

    <SectionWrapper>
      <CarouselProducts />
    </SectionWrapper>

    <SectionWrapper>
      <Banner />
      <Testimonials />
    </SectionWrapper>

    <SectionWrapper>
      <MapLocation />
    </SectionWrapper>
  </main>
</BaseLayout>

<style lang="scss">
  //MOBILE AND TABLET
  main {
    .banner-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      min-height: 70vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
      }
      .wrapper-content {
        width: 60%;
        margin: auto;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 200;
        .quote-wrapper {
          padding: 2em 0 0 0;
          a {
            text-decoration: auto;
          }
        }
      }
    }
  }

  //DESKTOP
  @media (min-width: 920px) {
    main {
      .banner-wrapper {
        img {
          width: 100%;
          height: 70vh;
        }
      }
    }
  }
</style>
