---
import { BaseLayout } from "../layouts";
import {
  CarouselProducts,
  DeliverySection,
  MapLocation,
  SectionWrapper,
  Title,
  Button,
  AboutUsComponent,
} from "../components";
import BrandsSection from "../components/home/BrandsSection.astro";
---

<BaseLayout>
  <main>
    <div class="banner-wrapper">
      <img src="./images/fondo-banner.webp" alt="banner hankook alvillanta" />
      <!-- <div class="wrapper-content">
        <Title title="Tenemos las mejores" withMargin={false}>
          llantas para tu vehiculo
        </Title>
        <div class="quote-wrapper">
          <a href="https://api.whatsapp.com/send?phone=981387871&text=Me%20interesa%20saber%20más%20sobre%20el%20precio%20de%20sus%20productos">
            <Button type="tertiary">Contáctanos</Button>
          </a>
        </div>
      </div> -->
    </div>

    <SectionWrapper>
      <AboutUsComponent />
    </SectionWrapper>

    <SectionWrapper>
      <CarouselProducts />
    </SectionWrapper>

    <SectionWrapper>
      <DeliverySection />
    </SectionWrapper>

    <SectionWrapper>
      <BrandsSection />
      <MapLocation />
    </SectionWrapper>
  </main>

  <style lang="scss">
    //MOBILE AND TABLET
    main {
      .banner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        min-height: 70vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 100;
        }
        .wrapper-content {
          width: 90%;
          margin: auto;
          color: #fff;
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 200;
          @media (min-width: 920px) {
            width: 60%;
          }
          .quote-wrapper {
            padding: 2em 0 0 0;
            a {
              text-decoration: auto;
            }
          }
        }
      }
    }

    //DESKTOP
    @media (min-width: 920px) {
      main {
        .banner-wrapper {
          img {
            width: 100%;
            height: 70vh;
          }
        }
      }
    }
  </style>
</BaseLayout>
