---

---

<section class="banner">
  <div class="banner__imgAuto">
    <img src="../../../images/auto.webp" alt="" />
  </div>
  <div class="banner__texts">
    <h2>Delivery<span>Gratis</span></h2>
    <h2 class="phone-item">967787226</h2>
  </div>
  <div class="banner__imgLlantas">
    <img src="../../../images/llantas.webp" alt="" />
  </div>
</section>

<style lang="scss">
  .banner {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f40f0f;
    position: relative;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      padding: 4rem 0;
      height: 400px;
    }
    @media (max-width: 920px) {
      padding: 3rem;
      height: 400px;
    }
    @media (max-width: 768px) {
      padding: 2rem;
    }
    @media (max-width: 576px) {
      padding: 2rem;
      height: 300px;
    }
    @media (max-width: 320px) {
      padding: 1.5rem;
      height: 250px;
    }
    h2 {
      text-transform: uppercase;
      font-style: italic;
      font-size: 3rem;
      color: #000;
      line-height: 0.85;

      span {
        display: block;
        font-size: 2em;
        color: #fff;
      }
      @media (max-width: 920px) {
        font-size: 2.5rem;
      }
      @media (max-width: 576px) {
        font-size: 2rem;
        text-align: center;
      }
      @media (max-width: 320px) {
        font-size: 1.5rem;
      }
    }
    div {
      align-self: center;
      z-index: 300;
      img {
        width: 450px;
        @media (max-width: 920px) {
          width: 350px;
        }
        @media (max-width: 576px) {
          width: 250px;
        }
        @media (max-width: 320px) {
          width: 200px;
        }
      }
    }
    &__imgAuto {
      position: absolute;
      left: 1.5rem;
      bottom: 0;
      @media (max-width: 576px) {
        left: 50%;
      }
      img {
        position: absolute;
        bottom: -3.75rem;
        @media (max-width: 920px) {
          bottom: -2.8rem;
        }
        @media (max-width: 576px) {
          bottom: -2rem;
          transform: translateX(-50%);
        }
        @media (max-width: 320px) {
          bottom: -1.5rem;
        }
      }
    }
    &__texts {
      display: grid;
      gap: 1em;
      .phone-item {
        font-size: 3.5rem;
        color: #ffe223;
        background: black;
        padding: 0.3em 1em;
        border-radius: 7em;
        @media (max-width: 576px) {
          font-size: 3rem;
        }
      }
    }
    &__imgLlantas {
      position: absolute;
      right: 1.5rem;
      bottom: 0;
      @media (max-width: 576px) {
        display: none;
      }
      img {
        position: absolute;
        right: 0;
        bottom: -1px;
      }
    }
  }
</style>
