---

---

<section class="filter">
  <section class="options-filter">
    <h2 class="options-filter__title">¿Cómo quieres buscar tus neumáticos?</h2>
    <div class="options-filter__btns">
      <button class="options-filter__btn options-filter__btn--active">
        Por vehículo</button
      >
      <button class="options-filter__btn"> Por medida de neumático</button>
    </div>
  </section>
  <section class="section-filter">
    <div class="section-filter__fields">
      <div>
        <label for="">Marca *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Modelo *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Año *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Versión *</label>
        <input class="section-filter__input" type="text" />
      </div>
      <div>
        <label for="">Medida neumático *</label>
        <input class="section-filter__input" type="text" />
      </div>
    </div>
    <button class="section-filter__btn">Buscar</button>
  </section>
</section>

<style lang="scss">
  .filter {
    position: absolute;
    bottom: 0;
  }
  .options-filter {
    width: max-content;
    margin: 0 auto 2em;
    &__title {
      font-size: 1.2em;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0.625em;
    }
    &__btns {
      margin: 0 auto;
      width: max-content;
      background-color: #000;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      gap: 0.2em;
    }
    &__btn {
      width: 180px;
      font-size: 0.75em;
      padding: 0.5em 2em;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      border: none;
      color: #fff;
      background-color: #454545;
      cursor: pointer;
      &:first-child{
        padding-left: 2.5em;
      }
    }
    &__btn--active {
      background-color: #fc4c09;
    }
  }
  .section-filter {
    max-width: 90%;
    margin: 0 auto;
    background-color: #454545;
    border: 2px solid #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 40px;
    }
    &__fields {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.5em;
      padding: 0.5em;
      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 0.85em;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        font-size: 0.85em;
      }
    }
    &__input {
      height: 40px;
      border: none;
      border-radius: 8px;
      padding: 0 1em;
    }
    &__btn {
      background-color: #fc4c09;
      border: none;
      font-size: 1.5em;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: #fff;
    }
  }
</style>

<script>
  const buttons = document.querySelectorAll(".options-filter__btn");
  const [button1, button2] = buttons;

  const isActive = (btn, btn2) => {
    btn.addEventListener("click", () => {
      if (!btn.classList.contains("options-filter__btn--active")) {
        btn.classList.add("options-filter__btn--active");
        btn2.classList.remove("options-filter__btn--active");
      }
    });
  };

  isActive(button1, button2);
  isActive(button2, button1);
</script>
