---
import Icon from "astro-icon";
import { Button, IconFontAwesome } from "../components";
import MenuButton from "./MenuButton";
---

<script>
  const headerElement = document.querySelector("#header-item");

  const headerSticky = "header-sticky";

  window.addEventListener("scroll", () => {
    const currentScroll = window.pageYOffset;

    if (currentScroll > 93) {
      headerElement.classList.add(headerSticky);
    } else {
      headerElement.classList.remove(headerSticky);
    }
  });
</script>

<header id="header-item" class="header-absolute">
  <div class="img-logo">
    <a href="/"
    ><img src="/public/logo.webp" alt="logo hankook alvillantas" /></a
    >
    <MenuButton client:visible>
      <div class="item-menu-button">
        <IconFontAwesome
          width="30px"
          color="#fc4c09"
          path="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
        />
      </div>
    </MenuButton>
  </div>
  <div class="item-menu">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/about-us">Nosotros</a></li>
      <li><a href="/products">Productos</a></li>
      <li>
        <a href="/contact" class="anchor-icon">
          <Icon pack="mdi" name="phone" size={19} />
          Contacto
        </a>
      </li>
    </ul>
  </div>
</header>

<style lang="scss">
  //MOBILE AND TABLET
  .header-absolute {
    width: 100%;
    height: auto;

    .img-logo {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 10em;
        height: auto;
        object-fit: contain;
      }
    }

    .item-menu {
      display: none;
    }
  }

  //DESKTOP
  @media (min-width: 920px) {
    .header-absolute {
      position: absolute;
      top: 0;
      z-index: 700;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      width: 100%;
      max-width: 1530px;
      margin: auto;

      .img-logo {
        display: initial;

        img {
          width: 11em;
          height: auto;
          object-fit: contain;
        }

        .item-menu-button {
          display: none;
        }
      }

      .item-menu {
        display: flex;
        justify-content: end;

        ul {
          list-style: none;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 1em;

          li a {
            text-decoration: none;
            color: #fff;
          }

          li .anchor-icon {
            display: flex;
            place-items: center;
            gap: 0.2em;
            padding: 0.7em 1.2em;
            text-align: center;
            border-radius: 7em;
            border: none;
            font-weight: 600;
            cursor: pointer;
            background-color: #fe4e02;
            color: #fff;
          }
        }
      }
    }
  }

  .header-absolute.header-sticky {
    position: fixed;
    z-index: 700;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.2em 1em;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
</style>
